:root {
  --h1-color: rgb(0, 0, 0);
  --bg-color: rgb(248, 249, 250);
  --border-color: rgb(218, 220, 224);
  --button-text-color: rgb(26, 115, 232);
  --text-color: #a3a2a2;
  --link-text-color: rgb(138, 180, 248);
  --button-secondary-text-color: var(--bg-color);
  --button-secondary-background-color: #8ab4f8;
  --padding: 8px 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --h1-color: rgb(232, 234, 237);
    --bg-color: #292a2d;
    --border-color: #4d5156;
    --button-text-color: rgb(138, 180, 248);
    --text-color: rgb(154, 160, 166);
  }
}

body {
  background: var(--bg-color);
  font-family: Google Sans, Roboto, Helvetica, Arial, sans-serif;
  min-width: 175px;
}

h1 {
  color: var(--h1-color);
  font-size: 1.2rem;
  letter-spacing: 0.25px;
}

h3 {
  color: var(--text-color);
}

.active-status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.active-status > * {
  margin: 8px 4px;
}

.active-status span {
  border: 1px solid var(--border-color);
  background: transparent;
  border-radius: 4px;
  padding: var(--padding);
  user-select: none;
  color: var(--button-text-color);
  font-weight: 500;
}

.secondary-button {
  color: var(--button-secondary-text-color);
  background: var(--button-secondary-background-color);
  user-select: none;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: none;
  padding: 4px 8px;
}

ul {
  padding: var(--padding);
}

a {
  color: var(--link-text-color);
}

#is-active {
  color: rgb(234, 67, 53);
}
